---
---

#copyright {
	padding-top: 13px;
	padding-bottom: 10px;

	background-color: #333333;
	border-top: 1px solid #000000;

	#copyright-links {
		letter-spacing: 6px;

		a {
			i {
				color: #ffffff;
				font-size: 32px;
			}
		}
	}
}