server {
	listen					{{PORT}};
	server_name				{{DOMAIN}};

	root					{{SITE}};
	index					index.html index.htm;

	access_log				{{LOG_HOME}}/access.log;
	error_log				{{LOG_HOME}}/error.log;

	error_page				404 /error-page-not-found.html;
	error_page				500 502 503 504 /error-server-error.html;

	location ^~ /search {
		proxy_pass			http://localhost:{{WAS_PORT}}/{{PROJECT}}/search;
		proxy_redirect		off;
		proxy_set_header	X-Real-IP $remote_addr;
		proxy_set_header	X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header	Host $http_host;
	}

	location ^~ /files {
		alias {{FILES}};
	}
}