<footer id="copyright">
	<div class="container-fluid">
		<div id="copyright-links" class="row">
			<div class="col-md-12">
				<p class="text-center">
					<a href="http://github.com/iamssen" target="_blank"><i class="fa fa-github-square fa-4"></i></a>
					<a href="https://www.behance.net/ssen" target="_blank"><i class="fa fa-behance-square fa-4"></i></a>
					<a href="https://twitter.com/ssen1980" target="_blank"><i class="fa fa-twitter-square fa-4"></i></a>
					<a href="/feed.xml"><i class="fa fa-rss-square fa-4"></i></a>
				</p>
			</div>
		</div>
	</div>
</footer>